@import "variables";

$left_side_width: 900px;

.posts {
    width: 100%;
    padding: 0 70px;

    &__heading {
        font-size: 60px;
        margin-top: 30px;
    }

    &__addButton {
        width: 50px;
        height: 50px;
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        border: 2px solid #000;
        background: none;
        
        &:hover {
            background: #00000010;
        }
    }

    &__addContainer {
        @include shadedContainer;
        width: 900px;
        padding: 30px;
        margin-top: 20px;

        form {
            display: flex;
            flex-direction: column;

            button {
                @include bordered;
                width: 200px;
                margin-top: 20px;
                font-weight: 700;
                
                &:hover {
                    background: #00000010;
                    
                }
            }
        }
        
        
        input, textarea, select {
            @include bordered;
        }
    }

    &__grid{
        margin-top: 20px;

        .right {
            width: $left_side_width;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .card {
                padding: 30px;
                border-radius: 10px;
                @include shadedContainer;

                &__imgContainer{
                    cursor: pointer;
                    width: 100%;
                    height: 300px;
                    
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                &__details {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: baseline;

                    span {
                        color: #636363;
                    }
                }

                &__heading {
                    text-transform: uppercase;
                    font-size: 30px;
                }

                .footerPostComment {
                    background-color: #eeeeee;
                    padding: 10px;
                    margin-top: 10px;
                    border-radius: 10px;
                    
                    &__postComment {
                        .commentForm {
                           display: flex;
                           flex-direction: column;
                           gap: 10px; 

                            textarea {
                                resize: none;
                                padding: 10px;
                                border-radius: 10px;
                                max-width: 100%;
                            }

                            .btnContainer {
                                padding: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

    &__pagination{
        width: 900px;
        height: 100px;
        margin: 30px 0;
        display: flex;
        flex-direction: row;
        gap: 3px;
        .pageButton {
            border: 2px solid #000;
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 40px;
            background: none;
        }
    }

    &__filters {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        gap: 30px;
        width: $left_side_width;
    }
}